@import '../../base';

.videoinfo_container{
  margin-top: 10px;

  span{
    font-size: 1.5rem;
  }

  .video_views_periods_liks{
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    span{
      font-size: 1rem;
    }

    div{

      p{
        display: inline-block;
        // line-height: 0;
        vertical-align: text-top;
        margin-right: 10px;
      }
    }
  }
}